/* =========================================
table of contents
============================================
1.header design
2.icon button design
3.model pop up design
4.media query
============================================
*/

header.flex {
	justify-content: space-between;
	padding: 0 2.4rem;
	margin-top: 1.2rem;
}
header.flex nav {
	background-color: var(--nav-color);
	padding: 0.77rem 1.6rem;
	border-radius: 55px;
	box-shadow: 1px 1px 30px rgb(208, 157, 231);
}
header ul.flex {
	gap: 16px;
}
header ul li a {
	color: var(--title);
	opacity: 0.9;
	font-size: 0.88rem;
	font-weight: 500;
}
header ul li a:hover {
	color: var(--move-color);
	opacity: 1;
	font-size: 0.9rem;
	font-weight: 500;
}
header button {
	font-size: 15px;
	padding: 16px;
}
header button.menu {
	display: none;
	font-size: 25px;
}
/*icon button*/
header .icon-lines,
header button.mode {
	background-color: var(--secondary);
	color: var(--title);
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(131, 21, 122);
}
header .icon-lines:hover,
header button.mode:hover {
	background-color: var(--border);
	color: black;
	transition: 0.2s;
}
header .icon-x{
	font-size: 1.5rem;
	transition:0.3s;
}
header .icon-x:hover{
	font-size: 1.7rem;
	color: black;
	rotate: 180deg;
}

/*model pop up */
header .fixed {
	position: fixed;
	inset: 0;
	z-index: 11;
	background-color: rgba(142, 10, 159, 0.925);
	backdrop-filter: blur(4px);
}
/*animation*/
@keyframes mymove {
	0% {
		scale: 0;
	}
	60% {
		scale: 1.1;
	}
	100% {
		scale: 1;
	}
}

header .fixed ul.model {
	animation: mymove 0.5s;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5rem;
	border-radius: 1rem;
	padding: 0rem 1.5rem;
	background-color: var(--secondary);
}
header .fixed ul.model li {
	border-bottom: 1px solid var(--border);
	padding: 0.7rem 1rem;
	font-size: 1rem;
}
header .fixed ul.model li:first-child {
	text-align: right;
	border-bottom: none;
	padding-bottom: 0;
	padding-top: 0.2rem;
	margin-bottom: -1.5rem;
}

header .fixed ul.model li:last-child {
	border-bottom: none;
}
header .fixed ul.model li a {
	font-size: 1rem;
}
/*media query*/
@media (max-width: 700px) {
	header.flex nav {
		display: none;
	}
	header button.menu {
		display: block;
	}
}
