/* =========================================
table of contents
============================================
1.left section design
2.right section design
3.media query
============================================
*/

main.flex {
	gap: 2.64rem;
	align-items: start;
}

/*===============================
1.left section design (buttons)
=================================
*/
main section.left-section.flex {
	flex-direction: column;
	gap: 10px;
}

main section.left-section.flex button {
	background: red;
	width: 11rem;
	padding: 0.75rem 0;
	text-align: center;
	font-size: 1.05rem;
	text-transform: capitalize;
	opacity: 0.5;
	border-radius: 5px;
	transition: 0.3s;
}

main section.left-section.flex button:hover {
	opacity: 1;
}

main section.left-section.flex button.active {
	opacity: 1;
	font-weight: bold;
	letter-spacing: 0.6px;
	padding: 0.8rem 0;
	border: 1px solid blue;
}

/*===============================
2.right section design  (cards)
=================================
*/
main section.right-section {
	/*flex-grow: 1;*/
	flex-wrap: wrap;
	row-gap: 2rem;
	column-gap: 16px;
	justify-content: center;
}
.card {
	border: 1px solid rgb(220, 143, 143);
	transition: 0.3s;
	border-radius: 5px;
	background-image: linear-gradient(
		rgba (255, 255, 255, 0.05),
		rgba (255, 255, 255, 0.05)
	);
}
.card:hover {
	border: 1px solid rgb(117, 39, 39);
	rotate: 1deg;
	scale: 1.01;
	cursor: pointer;
}
.card img {
	border-radius: 5px;
}
.card .box {
	padding: 1rem 0.4rem;
}
.card .box .title {
	color: var(--title);
}
.card .box .sup-title {
	color: var(--subtitle);
	font-size: 0.8rem;
	margin-top: 1.1rem;
	margin-bottom: 0.8rem;
}
.card .box .icons {
	justify-content: space-between;
}
.card .icon-github,
.card .icon-link {
	font-size: 1.2rem;
	color: var(--subtitle);
}
.card .icon-github:hover,
.card .icon-link:hover {
	font-size: 1.25rem;
	color: var(--nav-color);
	cursor: pointer;
}
.card a.link {
	font-size: 0.9rem;
	color: blueviolet;
	margin-right: 12px;
}
/*media query*/
@media (max-width: 600px) {
	main.flex {
		flex-direction: column;
		gap: 2.64rem;
		align-items: center;
	}
	main section.left-section.flex {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}
	main section.left-section.flex button {
		width: 7rem;
		padding: 0.8rem 0;
		font-size: 0.9rem;
	}
}
