@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.1px;
	scroll-behavior: smooth;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	letter-spacing: 1px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

:root {
	--primary: #000;
	--secondary: rgb(24, 24, 27);
	--border: rgba(63, 63, 255, 0.2);
	--title: rgb(244, 244, 245);
	--subtitle: rgb(161, 161, 180);
	--blue: rgb(39, 39, 42);
	--nav-color: #9e4673;
	--icon-hover:#d4d4d8;
	--container-padding:4.8rem;
	--move-color: #132ada;
}
.light {
	--primary: rgba(250, 250, 250);
	--secondary: rgb(260, 260, 260);
	--border: rgba(202, 202, 202, 0.518);
	--title: rgb(39, 39, 42);
	--subtitle: rgb(82, 82, 91);
	--blue: rgb(0, 149, 246);
	--nav-color: #9e4673;
	--icon-hover:#333;
	--container-padding:4.8rem;
	--move-color: #e6a3a361;
}

body {
	background-color: var(--primary);
	color: #fff;
}
.container {
	width: 80%;
	border: 2px solid var(--border);
	margin-left: auto;
	margin-right: auto;
	background-color: var(--secondary);
	padding: 0 2rem 0;
}
.divider {
	border-bottom: 1px solid var(--border);
	margin: 3rem;
	width: calc(100% + 1.8rem + 1.8rem);
	margin-left: -1.8rem;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: initial;
	transition: all 0.2s ease-in-out;
}
.flex {
	display: flex;
	align-items: center;
}
.border {
	border: 2px solid var(--border);
}
button {
	all: unset;
}
button:hover {
	cursor: pointer;
}
button:active {
	scale: 0.9;
}
button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
/* scroll par*/

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-track {
	border: 7px solid #292c3b;
	box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	background-color: #d4d4d8;
}

::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* for Firefox */
html {
	scrollbar-color: #9e4673 #3d4a59;
}

.scroll2top {
	background-color: rgba(25, 118, 210, 0.85);
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 50%;
	position: fixed;
	bottom: 2rem;
	right: 3%;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.2);
	font-size: 1.25rem;
	transition: 0.3s;
}
.scroll2top:hover {
	background-color: rgba(25, 118, 210, 1.85);
}

@media (max-width: 1000px) {
	.container {
		width: 90%;
		padding: 0 1.7rem;
	}
	.divider {
		width: calc(100% + 1.7rem + 1.7rem);
		margin-left: -1.7rem;
	}
}

@media (max-width: 600px) {
	.container {
		width: 98%;
		padding: 0 1.7rem;
	}
	.scroll2top {
		width: 2.2rem;
		height: 2.2rem;
		opacity: 0.5;
		font-size: 1rem;
	}
}
