@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
	font-family: "Roboto", sans-serif;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	letter-spacing: 1px;
}
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

:root {
	--primary: #000;
	--secondary: #78156ee9;
	--border: #902f88;
	--title: rgb(244, 244, 245);
	--subtitle: rgb(217, 217, 225);
	--nav-color: #98028b;
	--move-color: #132ada;
}
.light {
	--primary: #fff;
}

body {
	background-color: var(--primary);
	color: #fff;
}
.container {
	width: 80%;
	border: 2px solid var(--border);
	margin-left: auto;
	margin-right: auto;
	background-color: var(--secondary);
	padding: 0 2rem 0;
}
.divider {
	border-bottom: 1px solid var(--border);
	margin: 3rem;
	width: calc(100% + 1.8rem + 1.8rem);
	margin-left: -1.8rem;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: initial;
	transition: all 0.2s ease-in-out;
}
.flex {
	display: flex;
	align-items: center;
}
.border {
	border: 2px solid var(--border);
}
button {
	all: unset;
}
button:hover {
	cursor: pointer;
}
button:active {
	scale: 0.9;
}
/* scroll par*/

::-webkit-scrollbar {
  width: 0.8rem;
 }
 
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
  }
 
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 
/* for Firefox */
 html {scrollbar-color: #9e4673 #3d4a59;} 

@media (max-width: 1000px) {
	.container {
		width: 90%;
		padding: 0 1.7rem;
	}
	.divider {
		width: calc(100% + 1.7rem + 1.7rem);
		margin-left: -1.7rem;
	}
}

@media (max-width: 600px) {
	.container {
		width: 98%;
		padding: 0 1.7rem;
	}
}
